.main-dash-root{
  min-width: 100%;
  min-height: 100vh;
  background-color: #F0F2F6;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  box-sizing: border-box;
}
#dash-header{
  font-size: 20px;
  font-weight: 400;
  color: #1C2A53;
}
.dash-total-recent {
  /* height: 300px; */
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 24px;

}
#dash-first
{
  border: 1px soild black;
  width: 100%;
  display: flex;
  padding-top:24px;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}